<h1>Welcome to Music Lovers Game!</h1>
<h2>Start playing:</h2>
<form action="/" method="POST">
 	<input type="text" name="search_term" placeholder="Insert a search term">
    <button type="submit">Search and start playing!</button>
 </form>